<div class="container">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
<svg class="bi me-2" width="40" height="32">
<use xlink:href="#bootstrap"></use>
</svg>
<span class="fs-4">Bienvenido {{user.firstName}} {{user.lastName}}</span>
</a>
<form action="/api/sessions/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>
</header>
</div>
<div class="b-example-divider"></div>

<div class="grid text-center" >
  <h1>Productos disponibles</h1>
  <div class="row">
   {{#each products}}
      <div class="col m-3">
            <div class="card" style="width: 18rem;" id={{_id}}>
              <img src="https://coca-colafemsa.com/wp-content/uploads/2019/12/reflejo_pag1.png" class="card-img-top" alt="productos">
              <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <p class="card-text">{{description}}</p>
                <h5 class="card-title">${{price}}</h5>
                <a href="/api/carts/66574d53aba5a44cb8a7920b" class="btn btn-primary">Agregar al carrito</a>
              </div>
            </div>
      </div>
    {{/each}}
  </div>

  <nav aria-label="...">
    <ul class="pagination justify-content-center m-3">
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    </ul>
  </nav>


</div>
